h2 {
  padding-top: 1rem;
  padding-bottom: 5px;
}

.App {
  text-align: center;
}

.logo-section {
  margin: 2rem;
}

.btn {
  margin: 1rem 3rem;
}

.App-logo {
  /* height: 40vmin; */
  height: 4rem;
  pointer-events: none;
}

.col-lg-6 {
  width: 18rem;
  margin: 0 auto;
  text-align: center;
}

.wallet-message {
  font-size: 1rem;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
